<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <main>
      <%- include('includes/header') %> <%- include('includes/aside') %>
      <aside id="mobile-drawer">
        <nav>
          <ul>
            <li class="nav-item">
              <a href="/restaurants">Browse Restaurants</a>
            </li>
            <li class="nav-item">
              <a href="/recommend">Share a Restaurant</a>
            </li>
            <li class="nav-item"><a href="/about">About Eatwell</a></li>
          </ul>
        </nav>
      </aside>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
    </main>
  </body>
</html>
