<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <main>
      <%- include('includes/header') %> <%- include('includes/aside') %>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
    </main>
  </body>
</html>
