html {
  --color-blue-100: rgb(222, 234, 243);
  --color-blue-200: rgb(234, 240, 246);
  --color-blue-300: rgba(154, 177, 235, 0.477);
  --color-blue-500: rgb(33, 33, 98);
  --color-blue-900: rgb(23, 23, 84);
  height: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-blue-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
}

form {
  background-color: var(--color-blue-200);
  width: 30rem;
  margin: auto;
  border-radius: 8px;
  padding: 1rem 2rem;
  box-shadow: 1px 2px 8px lightgrey;
}

section {
  margin-bottom: 1rem;
}

input,
textarea,
select,
label {
  display: block;
  font: inherit;
  width: 100%;
}

textarea {
  resize: none;
}

label {
  margin: 0.3rem 0;
}

input:focus,
textarea:focus {
  background-color: var(--color-blue-300);
  border: 1px solid var(--color-blue-500);
}

button {
  font: inherit;
  width: 5rem;
  padding: 0.2rem 0;
  margin: 0.1rem;
  border-width: 1px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

.flex-control {
  display: flex;
  justify-content: flex-start;
}

.flex-control label {
  margin: 0;
}

.flex-control input {
  width: auto;
}

#button-list {
  text-align: end;
}

#clear-btn {
  background-color: var(--color-blue-200);
}

#clear-btn:hover {
  background-color: rgb(209, 215, 255);
}

#submit-btn {
  background-color: var(--color-blue-900);
  color: var(--color-blue-200);
}

#submit-btn:hover {
  background-color: rgba(23, 23, 84, 0.878);
}
